/* Reset dasar untuk membuat tampilan lebih konsisten */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gaya untuk halaman login utama */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #eceff1, #ffffff);
}

.login-form-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.input-field {
  margin: 10px 0;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-btn {
  margin: 15px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}
